awsebcli==3.17.1
bitstring==3.1.7
botocore==1.14.17
cement==2.8.2
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.3.9
control==0.8.3
cycler==0.10.0
docutils==0.15.2
enum-compat==0.0.3
future==0.16.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.7
jmespath==0.9.5
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
muselsl==2.0.2
nengo==3.0.0
nengo-gui==0.4.6
nengo-spa==1.1.0
numpy==1.18.2
pandas==1.0.3
pathspec==0.5.9
pexpect==4.8.0
ptyprocess==0.6.0
pygame==1.9.6
pygatt==4.0.3
pylsl==1.13.1
pyparsing==2.4.7
pypiwin32==223
pyrcca==0.1
pyserial==3.4
python-dateutil==2.8.0
python-vlc==3.0.10114
pytz==2020.1
pywin32==227
PyYAML==5.2
requests==2.20.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
semantic-version==2.5.0
six==1.11.0
sklearn==0.0
termcolor==1.1.0
threadpoolctl==2.0.0
urllib3==1.24.3
virtualenv==16.7.5
wcwidth==0.1.9
